{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
{{ serviceName }} - jinja
{% endblock %}

{% block header %}
<header class="moj-header" role="banner">

  <div class="moj-header__container">

    <div class="moj-header__logo">

      <a class="moj-header__link moj-header__link--organisation-name" href="../index">DND</a>

      <a class="moj-header__link moj-header__link--service-name" href="../index"> {{ serviceName }}</a>
    </div>
  </div>

</header>
<div class="moj-primary-navigation">

  <div class="moj-primary-navigation__container">

    <div class="moj-primary-navigation__nav">

      <nav class="moj-primary-navigation" aria-label="Primary navigation">

        <ul class="moj-primary-navigation__list">
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="/planes/outlands">Planes</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="/adventures/find-the-mushroom">Adventures</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="/players/player-one">Players</a>
          </li>
        </ul>

      </nav>

    </div>
  </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">

    <nav class="moj-side-navigation" aria-label="Side navigation">
      <h4 class="moj-side-navigation__title">Adventures</h4>
      <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item">
          <a href="find-the-mushroom">Find the mushroom!</a>
        </li>
      </ul>
    </nav>

  </div>
  <div class="govuk-grid-column-three-quarters">

    <span class="govuk-caption-xl">Adventures</span>
    <h1 class="govuk-heading-xl">
      Find the mushroom!
    </h1>

    <p class="govuk-body">A planescape re-skin of the first chapter of lost 
      mines of Phandelvar. The players start in the hive region of Sigil. A myconoid 
      cook has gone missing. The innkeeper of the inn the characters are staying at is 
      worried and missing spice delivery. Asks PCs to investigate.</p> 

    <button class="accordion" style="font-size : 20px; font-weight: bold;">Story hook</button>
    <div class="panel">
      <hr class="govuk-!-margin-top-3 govuk-!-margin-bottom-3">
      <div class="code-box">
        <p class="govuk-body"><b>You are currently staying in the at the Hungry Dog, a small but pretty gastropub in the 
          lower ward, working area of Sigil. The area rings with the constant 
          sound of blacksmiths and industry. The pub is bright and colourful which 
          is in stark contrast to the surroundings and the landlord, a very muscular 6ft 8 half orc who 
          towers above the bar, making an amusing sight as his dries dishes. He 
          has a black ponytail, is around 50 years old and is covered is scarification 
          tattoos got from various battles and deeds. </b> </p> 
  
        <p class="govuk-body"><b>His name is Pax and he also happens to be an excellant chef. 
          The patrons are a mix of working men and women of all races, sizes, and species, grabbing food and drink between 
          shifts. Once he has finished serving a tired looking halfing blacksmith he drops his 
          dishcloth and comes over to your group, pulling chair out and joining you, a look of concern on his face.</b> </p> 
      </div>

      <div class="code-box">
        <p class="govuk-body"><b><em>Got a job for you. Good friend of mine. Gone missing. Need someone 
          to track them down. Don't have time myself. Free lodge and board for a fortnight if you find him and 
          i'll put your names out there. Plus whatever they can offer. Interested?</em></b> </p> 
      </div>
    </div>

    <button class="accordion" style="font-size : 20px; font-weight: bold;">Part 1 - Investigations</button>
    <div class="panel">
      <hr class="govuk-!-margin-top-3 govuk-!-margin-bottom-3">
      <p class="govuk-body">The target is Gyglid, a Myconoid who runs the 'Humungous Fungus' street food 
        venue in the Hive on the Grease pit street. 
      <p>
  
      <h3 class="govuk-heading-m" >The Hive</h3>
      
      <div class="code-box">
        <p class="govuk-body"><b>Neglected by the Dabus and the generosity of the other wards, 
          the Hive has fallen into disrepair. Its buildings are lopsided hodgepodges of architectual 
          styles and materials, their floors haphazrdly stacked atop one another to conserve space. 
          The crooked high-rises darken cramped alleys, many of which are dead ends in more ways then one. 
          Many residents of the city avoid the ward when possible, but those willing to risk the Hive 
          can partake in its seedy establishments and hidden gems.</b>
        </p> 
  
        <p class="govuk-body"><b>As you walk the streets you see the bottle and jug, one of the Hive's 
          most notorius drinkeries, rumoured to have a portal to a massive pit fitting arena out the 
          back. Other sights of note is Fell's Tattoos, a tattoo parlour offering magical tattoos and 
          the night market where less reputable wears from across the multi-verse can be bought.</b>
        </p> 
      </div>
  
      <h3 class="govuk-heading-m govuk-!-margin-top-6" >The Grease pit</h3>
  
      <div class="code-box">
        <p class="govuk-body"><b>The flavours of the multiverse converge at the Grease Pit, a noisy 
          alley brimming with planar street food. Creatures come from far and wide to sample its 
          delights or hawk them to hungry customers over the hubbub of the daily crowds.</b>
        </p> 
  
        <p class="govuk-body"><b>The Grease Pit offers patrons a taste of the Outer Planes. Deep 
          fried meat skewers sizzle in bubbling oil traken from the battlefields of Acheron, 
          marinating in rage and zeal. Meanwhile spicy dishes rise to infernal heats in a demon 
          owned rotisseries, where the heat literally sear the taste buds of the uninitiated. 
          Sobbing patrons cool their mouths on snow cones from the tops of the tallest mountain 
          and then shred their tongues on face-puckering sour candies topped with caustic, 
          gelatinous ooze. Portions range from bite sized nibbles to bottomless portal buffets 
          worthy of a giants appetite.</b>
        </p> 
      </div>
  
      <h3 class="govuk-heading-m govuk-!-margin-top-6">Outside the Humungous Fungus</h3>
  
      <ul class="govuk-list govuk-list--bullet">
        <li><p><b>On the left - 'The Suger and Spice'</b></p> 
          <ol class="govuk-list govuk-list--number">
            <li>This candy shop is owned by a fairie dragon named Pancake and an imp named Qribbig. 
              The shop is a nicely painted diner, done up in rainbow colours and examples of the candies 
              on offer on small tables out the front.</li>
            <li>They both have a good relationship with Gyglid and are worried.</li>
            <li>Knows that they haven't been seen for a week.</li>
          </ol>
        </li>
        <li><p><b>On the right - 'Bob's Biggest Burgers'</b></p> 
          <ol class="govuk-list govuk-list--number">
            <li>This burger shack is owned by an overweight and greasy human man named Bob. The shack is 
              run down and dirty, the grill thick with old fat and grease. The only thing on offer is a 
              huge burger, driping with grease.</li>
            <li>Bob's burgers are incredibly delicious despite appearences.</li>
            <li>Uses some of the spices from Gyglid so is invested in his return. Not a good relationship as 
              Gyglid portions out the spice in very small doses.  Wants the characters to get him a load in secret and 
              will pay well for it.</li>
            <li>Knows that Gyglid usually closes for 4 days a month for supply run.</li>
            <li>Knows supply run is to his home village in the underdark</li>
          </ol>
        </li>
        <li><p><b>Opposite - 'The Fire warden'</b></p> 
          <ol class="govuk-list govuk-list--number">
            <li>This candy shop is owned by a dragonborn female named Akra. The Fire Warden sells incredible hot curry 
              and chilli. The Shack is well build out of slightly charred wood and the sign above has been writting in ash.</li>
            <li>Akra is neutral about Gyglids disappearence. </li>
          </ol>
        </li>
        <li><p><b>Card shark</b></p> 
          <ol class="govuk-list govuk-list--number">
            <li>A ragged looking red tiefling named Ooon has a table set up at the front of an alley opposite. On the table are a deck of </li>
            <li>Betting game - tdb</li>
            <li>If the PCS win will tell them that before Gyglid vanishes for a few days notices he is rooting around the garden of 
              mushrooms growing at the base of the toadstool, as if looking for a very specific one. Always looks a bit shifty, looking 
              around when he does this.</li>
            <li>A large success means Ooon remembers the mushroom was small and bright orange.</li>
          </ol>
        </li>
      </ul>
  
      <h3 class="govuk-heading-m govuk-!-margin-top-6">Inside the Humungous Fungus</h3>
  
      <div class="code-box">
        <p class="govuk-body"><b>The Humungous Fungus is a building sized toadstool. The Stem 
          has been hollowed out to contain the kitchen. Around the base of the stem thousands 
          of small brightly coloured mushrooms sprout.</b>
        </p> 
  
        <p class="govuk-body"><b>You enter into the stem of the building sized toadstool. 
          The air smells strongly of spices with an undertone of damp earth. The ground 
          is slightly soft underfoot and the cupboards, cookers and cooking utensils are 
          all arranged in a circle on the wall all around the stem.</b>
        </p> 
  
        <p class="govuk-body"><b>All the cupboards 
          are grown straight from the wall of the giant mushroom and countless species 
          of smaller and brightly coloured green and red mushrooms sprout from the bottom of the walls. 
          In the centre ahead of you circular stairs go downwards into the ground and upwards into the bulb of the toadstool. The stairs 
          are also grown strait from the mushroom and are covered in the small bright muhrooms 
          and fungus.</b>
        </p> 
      </div>
  
      <h3 class="govuk-heading-s">Upstairs</h3>
  
      <div class="code-box">
        <p class="govuk-body"><b>Gyglids living quarters. A bed and various cubboards all grown from the walls and floor fill the circular room. </b>
        </p> 
      </div>
  
      <ul class="govuk-list govuk-list--bullet">
        <li>A small mushroom box beside the bed is empty now but contains small pieces of an orange mushroom.</li>
      </ul>
  
      <h3 class="govuk-heading-s">Downstairs</h3>
  
      <div class="code-box">
        <p class="govuk-body"><b>You enter into a roughly circular stone room, 20 foot in diameter. The walls are 
          covered with bioluminescent mushrooms that give off enough purple tinged light to see easily. Many 
          storage boxes, also made from hardened fungus lie around this room. They are filled with mushrooms, 
          fungus and bags of spices and powders.  At the far end is 
          a large chest also made of wood, the only storage box not made of hardened mushrooms.</b>
        </p> 
      </div>
  
      <ul class="govuk-list govuk-list--bullet">
        <li>Scrap marks on the floor in front of heavy wooden chest as its moved repeatedly</li>
        <li>Wooden chest is empty and looks like it always has been</li>
        <li>In the centre of the wall behind it is a orange stain, exactly the same colour as the mushrooms growing outside</li>
        <li>Placing orange mushroom against the wall opens the portal</li>
      </ul>
    </div>

    <button class="accordion" style="font-size : 20px; font-weight: bold;">Part 2 - Ambush</button>
    <div class="panel">
      <hr class="govuk-!-margin-top-3 govuk-!-margin-bottom-3">
      <p class="govuk-body">The portal leads to the underdark, where Gyglids village is about 25 
        miles away. Its a 10 feet drop through the portal.
         The portal leads to a small cave with a passage leading out.
      <p>
  
      <div class="code-box">
        <p class="govuk-body"><b>Walking out of the small passageway you enter into the largest 
          cave system you have ever seen, bigger then you even thought possible. The walls of the 
          cave rise 500 foot on either side of you and vanish into the darkness. The whole cavern is light by the same blue bioluminescent fungus 
          as back in Sigil. 
          <br><br>The rocky floor 
          has 30 foot long Stalagmites rising like trees on either side of what looks like a path down the centre of the cave. 
          You hear a shuffling noise behind a row of Stalagmites to you left.
          </b>
        </p> 
      </div>
  
      <p class="govuk-body">The shuffling sound belongs to 8 horse sized woodlice shuffling 
        around the cave floor and walls in an open area behind the Stalagmites. 
        
        <br><br>A successful ***** check reveals that one of woodlice has a saddle on its back. 
        The woodlice are harmless and can be used as steeds for the players. Each one can carry 
        two people. 
        
        <br><br>The woodlice with the saddle comes shuffling over if the players call out in 
        a friendly manner. A successful **** check is needed to tame another one enough to ride. 
      <p>

      <p class="govuk-body">The characters have to overnight on the trail. Encounter?
      <p>

      <div class="code-box">
        <p class="govuk-body"><b> You've been on the trail for about a day and a half. The cave walls have 
          narrowed somewhat so the cavern is only now about 100 foot wide. A few hours ago you started walking 
          through a forest of 20 foot tall mushrooms, tall and thin and rising overhead on either side.
          <br><br> As you
          come around a bend, you spot two dead woodlice sprawled
          about fifty feet ahead of you, blocking the path. Each has
          several arrows sticking out of it. One has a saddle like the one you've already seen and the other had a 
          boxes strapped to it that now lay scattered around the rocky floor.The mushroom forest
          press close to the trail here, with a steep embankment and
          denser mushrooms on either side.
          </b>
        </p> 
      </div>

      <h3 class="govuk-heading-m" >The attack</h3>

      <p class="govuk-body">
        Four night goblins are hiding in the woods, two on each side of
        the road. They wait until someone approaches the bodies
        and then attack.
      <p>

      <p class="govuk-body">
        After the characters defeat the goblins, any inspection of the
        area reveals that the creatures have been using this place
        to stage ambushes for some time. A trail hidden behind
        thick mushrooms on the north side of the road leads northwest. A
        character who succeeds on a DC 10 Wisdom (Survival)
        check recognizes that about a dozen goblins have come and
        gone along the trail, as well as signs of a human-sized
        body being hauled away from the ambush site.
      <p>

      <p class="govuk-body">
        The trail leads five miles northwest and ends at the
        Cragmaw hideout (see that section). Ask the players to
        determine the party's marching order as the characters
        move down the trail. The order is important, because the
        goblins have set two traps to thwart pursuers.
      <p>

      <h3 class="govuk-heading-m" >The snare trap</h3>

      <p class="govuk-body">
        About 10 minutes after heading down the trail,
        a party on the path encounters a hidden snare. If the
        characters are searching for traps, the character in the
        lead spots the trap automatically if his or her passive
        Wisdom (Perception) score is 12 or higher. Otherwise, the
        character must succeed on a DC 12 Wisdom (Perception)
        check to notice the trap. 
        <br><br>If the character fails to notice the
        trap, he or she triggers the snare and must succeed on a
        DC 10 Dexterity saving throw. On a failure, the character
        is suspended upside down 10 feet above the ground. The
        character is restrained until 1 or more slashing damage is
        dealt to the snare's cord. (See the appendix in the rulebook
        for the effect of being restrained.) A character who isn't
        carefully lowered down takes Id6 bludgeoning damage
        from the fall.
      <p>

      <h3 class="govuk-heading-m" >The Pit trap</h3>

      <p class="govuk-body">
        Another 10 minutes down the trail is a pit the
        goblins have camouflaged. The pit is 6 feet wide, 10 feet
        deep, and it triggers when a creature moves across it. The
        character in the lead spots the hidden pit automatically
        if his or her passive Wisdom (Perception) score is 15 or
        higher. 
        <br><br>Otherwise, the character must succeed on a DC
        15 Wisdom (Perception) check to spot the hidden pit. If
        the trap isn't detected, the lead character must succeed
        on a DC 10 Dexterity saving throw or fall in, taking Id6
        bludgeoning damage. The pit's walls are not steep, so no
        ability check is required to scramble out.
      <p>

      <p class="govuk-body">
        Defeating the goblin ambushers and finding the Cragrnaw
        hideout completes a story milestone. When the party
        arrives at the hideout, award each character 75 XP. Make
        sure the players record this gain on their character sheets.
      <p>
    </div>

    <button class="accordion" style="font-size : 20px; font-weight: bold;">Part 3 - The hideout</button>
    <div class="panel">
      <hr class="govuk-!-margin-top-3 govuk-!-margin-bottom-3">
      <img src='/public/images/cragmaw-hideout.png'  class="govuk-!-margin-bottom-5" width="600">
      
      <h3 class="govuk-heading-m" >1. Cave mouth</h3>
  
      <div class="code-box">
        <p class="govuk-body"><b>Following the goblins' trail, you come to the end of the 
          mushroom forest after a mile. The cavern wall rises up ahead of you and a 
          cave opens at the bottom. A shallow
          stream flows out of the cave mouth, which is screened by
          dense red and white mushrooms. A narrow dry path leads into the cave on
          the right-hand side of the stream.
          </b>
        </p> 
      </div>

    <p class="govuk-body">The goblins in area 2 are supposed to be keeping watch
      on this area, but they are not paying attention. (Goblins
      can be lazy that way.) However, if the characters make a
      lot of noise here-for example, loudly arguing about what to do next, setting up a camp, cutting down brush, and so
      on-the goblins in area 2 notice and attack them through
      the thicket, which provides the goblins with three-quarters
      cover.
      <p>

    <h3 class="govuk-heading-m" >2. Goblin blind</h3>

    <p class="govuk-body">When the characters cross to the east side of the stream,
      they can see around the screening thickets to area 2. This
      is a goblin guard post, though the goblins here are bored
      and inattentive.
      <p>

    <div class="code-box">
      <p class="govuk-body"><b>On the east side of the stream flowing from the cave mouth, a
        small area in the briar thickets has been hollowed out to form
        a lookout post or blind. Wooden planks flatten out the briars
        and provide room for guards to lie hidden and watch the
        area-including a pair of goblins lurking there right now!
        </b>
      </p> 
    </div>

    <p class="govuk-body">Two goblins are stationed here. If the goblins notice
      intruders in area 1, they open fire with their bows,
      shooting through the thickets and probably catching the
      characters by surprise. If the goblins don't notice the
      adventurers in area 1, they spot them when they splash
      across the stream, and neither side is surprised.<br><br>
      Characters moving carefully or scouting ahead might be
      able to surprise the goblin lookouts. Have each character
      who moves ahead make a Dexterity (Stealth) check
      contested by the goblins' passive Wisdom (Perception)
      score to avoid being surprised. See the rulebook for more
      information on ability check contests.
      <p>

    <p class="govuk-body">Thickets. The thickets around the clearing are difficult
      terrain, but they aren't dangerous-just annoying. They
      provide half cover to creatures attacking through them.
      (See "Difficult Terrain" and "cover")
      <p>

        <h3 class="govuk-heading-m" >3. Kennel</h3>

        <p class="govuk-body">The Cragmaws keep a kennel of foul-tempered wolves that
          they are training for battle.
        <p>
    
        <div class="code-box">
          <p class="govuk-body"><b>Just inside the cave mouth, a few uneven stone steps lead
            up to a small, dank chamber on the east side of the passage.
            The cave narrows to a steep fissure at the far end, and is filled
            with the stench of animals. Savage snarls and the sounds of
            rattling chains greet your ears where two wolves are chained
            up just inside the opening. Each wolf's chain leads to an iron
            rod driven into the base of a stalagmite.
            </b>
          </p> 
        </div>
    
        <p class="govuk-body">Three wolves are confined here. They can't reach
          targets standing on the steps, but all three attack any
          creature except a goblin that moves into the room (see the
          "Developments" section). Goblins in nearby caves ignore
          the sounds of fighting wolves, since they constantly snap
          and snarl at each other.
          <p>
    
        <p class="govuk-body">A character who tries-to calm the animals can attempt
          a DC 15 Wisdom (Animal Handling) check. On a success,
          the wolves allow the character to move throughout the
          room. If the wolves are given food, the DC drops to 10.
          <p>

        <p class="govuk-body"><b>Fissure</b>. A narrow opening in the east wall leads to a
          natural chimney that climbs 30 feet to area 8. At the base
          of the fissure is rubbish that's been discarded through the opening above. A character attempting to ascend or
          descend the chimney shaft must make a DC 10 Strength
          (Athletics) check. If the check succeeds, the character
          moves at half speed up or down the shaft, as desired. On a
          check result of 6-9, the character neither gains nor loses
          ground; on a result of 5 or less, the character falls and
          takes Id6 bludgeoning damage per 10 feet fallen, landing
          prone at the base of the shaft.
          <p>
    
        <p class="govuk-body">If the wolves are goaded by enemies beyond their reach,
          they are driven into a frenzy that allows them to yank the
          iron rod securing their chains out of the floor. Each round
          that any character remains in sight, the wolves attempt
          a single DC 15 Strength check. On the first success,
          they loosen the rod and the DC drops to 10. On a second
          success, they yank the rod loose, bending it so that their
          chains are freed.
          A goblin or bugbear can use its action to release one
          wolf from its chain.
          <p>


            <h3 class="govuk-heading-m" >4. Steep passage</h3>

        <p class="govuk-body">From this point on, characters without darkvision will
          need light to see their surroundings.
        <p>
    
        <div class="code-box">
          <p class="govuk-body"><b>The main passage from the cave mouth climbs steeply
            upward, the stream plunging and splashing down its west
            side. In the shadows, a side passage leads west across the
            other side of the stream.
            </b>
          </p> 
        </div>
    
        <p class="govuk-body">Characters using light or darkvision to look farther up the
          passage spot the bridge at area 5. Add:
          <p>

        <div class="code-box">
          <p class="govuk-body"><b>In the shadows of the ceiling to the north, you can just make
            out the dim shape of a rickety bridge of wood and rope
            crossing over the passage ahead of you. Another passage
            intersects this one, twenty feet above the floor.
            </b>
          </p> 
        </div>
    
        <p class="govuk-body">Any character who can see the bridge in area 5 might also
          notice the goblin guarding the bridge. Doing so requires
          a Wisdom (Perception) check contested by the goblin's
          Dexterity (Stealth) check result.
          <p>

        <p class="govuk-body">The goblin notices the characters if they carry any light
          or don't use stealth as they approach the bridge. The
          goblin does not attack. Instead, it attempts to sneak away
          to the east to inform its companions in area 7 to release
          a flood (see the "Flood!" section of area 5). The goblin
          moves undetected if its Dexterity (Stealth) check exceeds
          the passive Wisdom (Perception) score of any character
          who might notice its movements.
          <p>
    
        <p class="govuk-body"><b>Western Passage</b>. This passage is choked with rubble
          and has steep escarpments. Treat the area as difficult
          terrain (see "Difficult Terrain" in the rulebook).
          The ledge between the two escarpments is fragile. Any
          weight in excess of 100 pounds loosens the whole mass
          and sends it tumbling down to the east. Any creature
          on the ledge when it falls must make a DC 10 Dexterity
          saving throw, taking 2d6 bludgeoning damage on a failure,
          or half as much damage on a success. The creature
          also falls prone on a failed save (see "Being Prone" in
          the rulebook).
          <p>

      <h3 class="govuk-heading-m" >5. Overpass</h3>

      <p class="govuk-body">Where a high tunnel passes through the larger tunnel
        cavern below, the goblins have set up a bridge guard post.
      <p>
  
      <div class="code-box">
        <p class="govuk-body"><b>The stream passage continues up beyond another set of I
          uneven steps ahead, bending eastward as it goes. A waterfall
          sounds out from a larger cavern somewhere ahead of you.
          </b>
        </p> 
      </div>
  
      <p class="govuk-body">If the characters didn't spot the bridge while navigating
        area 4, they spot it now. Add:
        <p>

      <div class="code-box">
        <p class="govuk-body"><b>A rickety bridge spans the passage, connecting two tunnels 1
          that are 20 feet above the stream.
          </b>
        </p> 
      </div>
  
      <p class="govuk-body">One goblin stands watch on the bridge. It is hiding,
        and characters can spot it by succeeding on a Wisdom
        (Perception) check contested by the goblin's Dexterity
        (Stealth) check. This guard is lazy and inattentive. If no
        characters are using light sources, each character can
        attempt a Dexterity (Stealth) check against the goblin's
        passive Wisdom (Perception) score to creep by without
        being noticed.
        <p>

      <p class="govuk-body">If the goblin spots the adventurers, it signals the goblins
        in area 7 to release a flood (see the "Flood!" section), then
        throws javelins down at the characters.
        <p>
  
      <p class="govuk-body"><b>Bridge</b>. This bridge spans the passage 20 feet above the
        stream. It's possible to climb up the cavern walls from the
        lower passage to the bridge. The 20-foot-high walls are
        rough but slick with spray, requiring a successful DC 15
        Strength (Athletics) check to climb.
        <p>

      <p class="govuk-body">The bridge has an Armor Class (AC) of 5 and 10 hit
        points. If the bridge is reduced to 0 hit points, it collapses.
        Creatures on the collapsing bridge must succeed on a DC
        10 Dexterity saving throw or fall, taking 2d6 bludgeoning
        damage and landing prone (see "Being Prone" in the
        rulebook). Those who succeed hold onto the bridge and
        must climb it to safety.
        <p>

        <p class="govuk-body"><b>FLOOD!</b>. The large pools in area 7 have collapsible walls that can
          be yanked out of place to release a surge of water down
          the main passage of the lair. In the round after the goblins
          in area 7 are signaled by the lookout in area 5, they start
          knocking away the supports. In the following round on the
          goblins' initiative count, a water surge pours from area 7
          down to area 1.
          <p>

      <div class="code-box">
        <p class="govuk-body"><b>The passage is suddenly filled with a mighty roar, as a huge 1
          surge of rushing water pours down from above!
          </b>
        </p> 
      </div>
  
      <p class="govuk-body">The flood threatens all creatures in the tunnel. (Creatures
        on the bridge at area 5 are out of danger, as are any
        characters successfully climbing the cavern walls.) Any
        creature within 10 feet of the disused passage at area
        4 or the steps leading up to area 3 can attempt a DC 10
        Dexterity saving throw to avoid being swept away. A
        creature that fails to get out of the way can attempt a DC
        15 Strength saving throw to hold on. On a failed save, the
        character is knocked prone and washed down to area 1,
        taking Id6 bludgeoning damage along the way.
        <p>

      <p class="govuk-body">The goblins in area 7 can release a second flood by
        opening the second pool, but they don't do this unless the
        goblin on the bridge tells them to. The goblin on the bridge
        waits to see if the first flood got rid of all the intruders
        before calling for the second to be released.
        <p>

    <h3 class="govuk-heading-m" >6. Goblin Den</h3>

    <p class="govuk-body">The Cragmaw raiders stationed in the hideout use this
      area as a common room and barracks.
    <p>

    <div class="code-box">
      <p class="govuk-body"><b>This large cave is divided in half by a ten-foot-high
        escarpment. A steep natural staircase leads from the lower
        portion to the upper ledge. The air is hazy with the smoke of
        a cooking fire, and pungent from the smell of poorly cured
        hides and unwashed goblins.
        </b>
      </p> 
    </div>

    <p class="govuk-body">Six goblins inhabit this den, and one of them is a leader
      with 12 hit points. The five ordinary goblins tend the
      cooking fire in the lower (northern) part of the cave near
      the entrance passage, while the leader rests in the upper
      (southern) part of the cave.
      <p>

    <p class="govuk-body">Gyglid is held prisoner
      in this chamber. He is securely bound on the southern
      ledge of the cavern. The goblins have been beating and
      tormenting him, so he is weak and at 1 hit point.
      <p>

    <p class="govuk-body">The goblin leader, Yeemik, is second-in-command
      of the whole hideout. If he sees that the characters are
      getting the upper hand, he grabs Sildar and drags him
      over to the edge of the upper level. "Truce, or this thing
      dies!" he shouts.
      <p>

    <p class="govuk-body">Yeemik wants to oust Klarg and become the new boss. If
      the adventurers agree to parley, Yeemik tries to convince
      them to kill Klarg in area 8, prormsing to release Gyglid
      when they bring back the bugbear's head. Gyglid groggily
      warns the characters that they shouldn't trust the goblin,
      and he's right. If the characters take the deal, Yeemik tries
      to force them to pay a rich ransom for Gyglid even after
      they complete their part of the bargain.
      <p>

    <p class="govuk-body">If the characters refuse to parley, Yeemik shoves Gyglid
      over the edge and continues with the fight. Gyglid takes
      Id6 bludgeoning damage from the fall, which is enough to
      drop him to 0 hit points. Quick-acting characters can try
      to stabilize him before he dies (see "Damage, Healing, and
      Dying" in the rulebook).
      <p>

      <p class="govuk-body">Gyglid has the following info -
      <p>
      <ol class="govuk-list govuk-list--number">
        <li>He was on his way back to the portal with his spices and fungi when hi was ambushed</li>
        <li>From what he can tell the goblins are just oppurtunistic thiefs who raid both down here and up above on the surface.</li>
        <li>They have been trying to get him to tell where he was going but he refused and entered a trance-like dorment state.</li>
        <li>He offers
          to pay the party 50 gp to rescue him and provide escort back to Sigil</li>
      </ol>

      <p class="govuk-body">Yeemik carries a pouch containing three gold teeth (1
        gp each) and 15 sp.
        <p>

    <h3 class="govuk-heading-m" >7. Twin pools cave</h3>

    <p class="govuk-body">If the goblins have drained either pool to flood the
      passage, adjust the following boxed text accordingly.
    <p>

    <div class="code-box">
      <p class="govuk-body"><b>This cavern is half filled with two large pools of water. A
        narrow waterfall high in the eastern wall feeds the pool, which
        drains out the western end of the chamber to form the stream
        that flows out of the cave mouth below. Low fieldstone walls
        serve as dams holding the water in. A wide exit stands to the
        south, while two smaller passages lead west. The sound of
        the waterfall echoes through the cavern, making it difficult
        to hear.
        </b>
      </p> 
    </div>

    <p class="govuk-body">Three goblins guard this cave. If the goblin in area 5
      spotted the characters and warned the goblins here, they
      are ready for trouble. The noise of the waterfall means that
      the creatures in area 8 can't hear any fighting that takes
      place here, and vice versa. Therefore, as soon as a fight
      breaks out here, one goblin flees to area 8 to warn Klarg.
      <p>

    <p class="govuk-body">Rock Dams. The goblins built simple dams to control
      the flow of water through the heart of the complex. If the
      goblin sentry in area 5 has called for the goblins here to
      release a flood, one or both of the pools are mostly empty
      and the stream is flowing unimpeded.
      <p>

        <h3 class="govuk-heading-m" >8. Klarg's cave</h3>

    <p class="govuk-body">The leader of the goblinoids insists on keeping the bulk
      of the raiders' stolen goods in his den. The Cragmaws'
      plunder from the last month of raiding and ambushing
      caravans is here.
      <p>

      <div class="code-box">
        <p class="govuk-body"><b>Sacks and crates of looted provisions are piled up in the
          south end of this large cave_ To the west, the floor slopes
          toward a narrow opening that descends into darkness. A
          larger opening leads north down a set of natural stone steps,
          the roar of falling water echoing from beyond. In the middle
          of the cavern, the coals ofa large fire smolder.
          </b>
        </p> 
      </div>

    <p class="govuk-body">Klarg the bugbear shares this cave with his mangy pet
      wolf, Ripper, and two goblins. The bugbear is filled with
      delusions of grandeur and views himself as a mighty
      warlord just beginning his career of conquest. He is not
      entirely sane, referring to himself in the third person
      ("Who dares defy Klarg?" or "Klarg will build a throne
      from your bones, puny
      ones!"). The goblins under his
      command resent his bullying.
      <p>

    <p class="govuk-body"><b>Fire Pit</b>. The hot coals in
      the central fire pit deal 1 fire
      damage to any creature that
      enters the fire pit, or 1d6 fire
      damage to any creature that
      falls prone there. A creature
      can take each type of damage
      only once per round.
      <p>

      <p class="govuk-body"><b>Natural Chimney</b>. A niche
        in the western wall forms the
        top of a shaft that descends 30
        feet to area 3. See that area for
        information on climbing the
        natural chimney.
        <p>

      <p class="govuk-body"><b>Supplies</b>. The piles of sacks
        and crates can provide half
        cover to any creature fighting
        or hiding behind them. 
        Hidden among the supplies
        is an unlocked treasure chest
        belonging to Klarg (see the
        "Treasure" section). Any
        character who searches the
        supplies finds the chest.
        <p>

      <p class="govuk-body">If Klarg is warned by the goblins in area 7 that the hideout
        is under attack, he and his wolf hide behind stalagmites
        while the goblins take cover behind the piles of supplies,
        hoping to ambush the characters when they enter the cave.
        If Klarg and company are not warned about possible
        <p>


      <p class="govuk-body">If Klarg and company are not warned about possible
        attackers, the characters have a good chance to surprise
        them. The easiest way for the characters to achieve this
        is to climb the chimney from area 3, since Klarg does not
        expect an attack from that direction.
        If the wolf is killed, the bugbear attempts to climb down
        the chimney to area 3 and flee the cave complex.
        <p>

          <h3 class="govuk-heading-m" >Treasure</h3>

    <p class="govuk-body">The captured stores are bulky, and the characters will
      need a wagon to transport them. If they return the
      supplies to the Lionshield Coster in Phandalin (see part
      2, "Phandalin''), they earn a reward of 50 gp and the
      friendship of Linene and her company.
      In addition to the stolen provisions, Klarg has a treasure
      chest that contains 600 cp, 110 sp, two potions of healing,
      and ajade statuette of a frog with tiny golden orbs for
      eyes (40 gp). The frog statuette is small enough to fit in a
      pocket or pouch.
      <p>
      
    </div>

  <script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
      });
    }
  </script>
</div>

{% endblock %}