{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
{{ serviceName }} - The temple of Baal
{% endblock %}

{% block header %}
<header class="moj-header" role="banner">

  <div class="moj-header__container">

    <div class="moj-header__logo">

      <a class="moj-header__link moj-header__link--organisation-name" href="../index">DND</a>

      <a class="moj-header__link moj-header__link--service-name" href="../index"> {{ serviceName }}</a>
    </div>
  </div>

</header>
<div class="moj-primary-navigation">

  <div class="moj-primary-navigation__container">

    <div class="moj-primary-navigation__nav">

      <nav class="moj-primary-navigation" aria-label="Primary navigation">

        <ul class="moj-primary-navigation__list">
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="/world/brynderwold">World</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="/adventures/blight-over-brynderwold">Adventures</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="/players/player-one">Players</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="/monsters/monsters">Monsters</a>
          </li>
        </ul>

      </nav>

    </div>
  </div>

</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">

    <nav class="moj-side-navigation" aria-label="Side navigation">
      <h4 class="moj-side-navigation__title">Adventures</h4>
      <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item">
          <a href="blight">Blight Over Brynderwold</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="temple-baal">The temple of Baal</a>
        </li>
      </ul>
    </nav>

  </div>
  <div class="govuk-grid-column-three-quarters">

    <span class="govuk-caption-xl">Adventures</span>
    <h1 class="govuk-heading-xl">
        2. The temple of Baal
    </h1>

    <div class="code-box">
      <h2 class="govuk-heading-l" id="1-blight">Rumours and hooks</h2>

      <p class="govuk-body">Wo Gong, the mine boss of Brynderwold was running an smuggling operation, taking 
        profits out of the mine. He found a 
        amulet one day in the mine and kept it. Unbeknowst to him, this amulet was 
        a token of Baal and allowed the servents of the God of Pestilance to whisper to his subconsious.</p> 

      <p class="govuk-body">
      Not long after he discovered a hidden chamber 
      with a huge shrine to Baal, ancient God of decay and pestilance within the mine. This was not a coincedence.
        The whispering told him he was going to be discovered and told him he needed a distraction. He followed a 
        ritual that he thought would cause a distraction to help him escape. This ritual brought a plague to the 
        town and terrified Wong. It was at this point the adventurers appeared, cleared up the plague and destroyed 
        the idol. Wong was arrested and put in jail alongwith his associate Karg.</p> 

      <p class="govuk-body">This adventure starts with the adventurers relaxing at the 'Half Stump' when in walks 
        Sergeant Kaden looking doer. He informs the players that Wong has vanished and the guardsmen stationed to his cell has been brutally murdered.
      </p> 
    </div>

    <hr class="govuk-!-margin-top-8 govuk-!-margin-bottom-6">

    <h2 class="govuk-heading-l" >1. Investigations (NPC interaction - Bard)</h2>


    <p class="govuk-body govuk-!-font-weight-bold">Investigation clues - Karg</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Knows nothing about the temple of Baal. Was in it solely for the cash</li>
      <li>Noticed increasingly strange behaviour. Disappered for days at time and no-one was to go into mine.</li>
      <li>Noticed incessant drawing on parchment</li>
    </ul>

    <p class="govuk-body govuk-!-font-weight-bold">Investigation clues - Pub</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Stopped coming in for food</li>
      <li>always fiddling with necklace</li>
    </ul>

    <p class="govuk-body govuk-!-font-weight-bold">Investigation clues - prison</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>guard neck sliced, already infected and rotted</li>
      <li>prison broken open, no magic or acid</li>
      <li>traces of mud throughout</li>
      <li>also a bit of reed, from a swamp</li>
      <li>flies and maggots</li>
    </ul>

    <p class="govuk-body govuk-!-font-weight-bold">Investigation clues - Wongs office</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Paper everywhere</li>
      <li>Drawings covering all paper</li>
      <li>Drawings showing rot demons again and again</li>
    </ul>

    <p class="govuk-body govuk-!-font-weight-bold">Investigation clues - Wongs house</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Food left out to rot (on purpose)</li>
      <li>flies and maggots</li>
      <li>bedroom, has bag packed</li>
      <li>fireplace has burnt paper. Paper shows direction to temple of rot but is mostly burnt</li>
    </ul>


    <hr class="govuk-!-margin-top-8 govuk-!-margin-bottom-6">

    <h2 class="govuk-heading-l" >2. The ambush (combat)</h2>

    <div class="code-box">
      <p class="govuk-body govuk-!-font-weight-bold"><i>The lanscape starts to change as you ride into the fog of the morning. 
        The open plains start to change to a rock and tor covered landscape and the landscape becomes 
        much more wet and wild.</i></p> 
  
        <p class="govuk-body govuk-!-font-weight-bold"><i>
          
          Soon you are walking through a canyon, hills changeing to boulder covered 
          slopes, changing to cliffs raising on both sides. The weather becomes foggy and wet and soon your 
          cloths are soaked through. The horses become agitated and nervous.</i></p> 
    </div>

    <p class="govuk-body">2 days in. </p> 

    <p class="govuk-body">5 cultists wait in ambush. Armed with daggers. On one of the bodies - a key with a circle + maggot motif. 
      Check to see if they recognise it from Wong's sketches. Also another has a piece of paper , very used with the phrase 'Connect the letters of your master'</p> 

    <img src='/public/images/cultist.png'  class="govuk-!-margin-bottom-5" width="400">

    <p class="govuk-body">Drop rock from top of boulder. perc check or dex dodge</p>

    <p class="govuk-body">Dartmoor style surroundings</p>

    <hr class="govuk-!-margin-top-8 govuk-!-margin-bottom-6">

    <h2 class="govuk-heading-l" >3a. quicksand (trap)</h2>

    <div class="code-box">
      <p class="govuk-body govuk-!-font-weight-bold"><i>As you start the morning of your third day riding your surroundings 
        start to change again. Gone are the rocks and cliffs. Shrubs around you get larger and more tangled throughout the day.
         The ground becomes increasingly wet and muddy and trees, misshapen and nobbled like old men appear all around you. The air becomes wet and humid and biting insects com thick and fast.
         You are now on the outskirts of a very dank and foreboding swamp. The dry paths either continue to the straight into the swamp or circle around to the North.</i></p> 
    </div>

    <p class="govuk-body">Taking path into swamp -</p> 

    <div class="code-box">
      <p class="govuk-body govuk-!-font-weight-bold"><i>The air is thick with fog and insects of various sizes. Even the walkable land 
        beneath your feet sinks with each step. The smell of decay fills your nostrals. Ahead of you through the fog you make out a large shape . 
        As you draw in you see what appears to be a skeleton of a huge beast half submerged in the mud. Its the skeleton of a dragon, long decayed. 
        However on the underside you can see some scales still intact, the incredible resilience lasting even now... </i></p> 
    </div>

    <p class="govuk-body">Quicksand - Dragon sinks after scales removed. luck (Dex) save to not sink. 5 squares to get out. Strength check to move.</p> 

    <p>Giant leech attack if feel like it needs more.</p>

    <img src='/public/images/leech.png'  class="govuk-!-margin-bottom-5" width="300">

    <p class="govuk-body">North path takes much longer and loses more food. </p> 

    <hr class="govuk-!-margin-top-8 govuk-!-margin-bottom-6">

    <h2 class="govuk-heading-l" >4. Hag (NPC interaction)</h2>

    <div class="code-box">
      <p class="govuk-body govuk-!-font-weight-bold"><i>In the distance through the reeds and haze you can see a tree of tremendous width, 
        30 foot wide at its largest. Long dead, it appears to be hollow and the warped and knarled bark opens at the side to make a kind of doorway. 
        A feeble light emenates from within. </i></p> 

        <p class="govuk-body govuk-!-font-weight-bold"><i>A weak, raspy and female voice beckons you nearer.</i></p> 
    </div>

    <img src='/public/images/hag-golem.png'  class="govuk-!-margin-bottom-5" width="500">

    <p class="govuk-body">Ixna the hag wants to use the adventurers to track down and kill a plant golem she raised. It was supposed to be 
      her slave but the spell didn't quite work and it escaped. It is semi intelligent and just wants to be free.</p> 

    <p class="govuk-body">She offers to guide the group to the temple if they return with proof that it is dead. She is more then happy to send 
      them deeper into the swamp as it will be easier to catch and eat them later on</p> 

    <hr class="govuk-!-margin-top-8 govuk-!-margin-bottom-6">

    <h2 class="govuk-heading-l" >5. Temple</h2>

    <div class="code-box">
      <p class="govuk-body govuk-!-font-weight-bold"><i>As you continue deeper into the murky swamp, you come to a 
        clearing. Mostly dry land opens up ahead, devoid of trees and shrubs. Nothing at all is growing here and 
        in the centre is the a spire of an ancient temple.  It has sunk over the possibly thoousands of years it has been here so 
        it now stand crooked. The at the bottom of the structure is a doorway, the area that would be underground now has been recently 
        cleared of dirt.</i></p> 

        <p class="govuk-body govuk-!-font-weight-bold"><i>The structure is covered with carvings of flies, maggots and demons 
          festering in stages of deacy and corruption. The air is still and no insects bother you here.</i></p> 
    </div>

    <img src='/public/images/temple-map.png'  class="govuk-!-margin-bottom-5" width="500">

    <h3 class="govuk-heading-m" >Room 1 (Puzzle)</h3>

    <div class="code-box">
      <p class="govuk-body govuk-!-font-weight-bold"><i>As you approach the door you see definate signs of recent activity in the mud outside the door. 
        Even though the metal door is showing signs of age it looks very sterdy and intact. What strikes you as odd is that there is no handle. 
        Instead a 5 by 5 set of squares is inset into the centre of the door and within each one a keyhole. 
        Surrounding this is a circle of strange glyphs...</i></p> 
    </div>

    <img src='/public/images/door-puzzle.png'  class="govuk-!-margin-bottom-5" width="400">

    <p class="govuk-body">Entrance has a lock. Runes to read, then puzzle to complete. Success will mean the door opens silently. 
      Using wrong lock means a mechanical alarm is set off. Door can be broke down with strength (athletics) test. This however will 
      cause a lot of noise</p> 

    <h3 class="govuk-heading-m" >Room 2 (combat)</h3>

    <div class="code-box">
      <p class="govuk-body govuk-!-font-weight-bold"><i>The temple is dark inside and the air is wet and damp. 
        A smell of decay and putrifaction is heavy in the air. The stone walls glisten with moisture and slime from unknown sources. On the floor 
        strange insects and small creatures  scurry away from your, hiding in the dark corners.</i></p> 

        <p class="govuk-body govuk-!-font-weight-bold"><i>This entrence room is 10 foot square and empty. A single exit leads 
          deeper into the temple, the solid wooden door lying on the floor. Above the exit a carving sof Baal looks down at you from a pile of dead things.</i></p> 
    </div>

    <p class="govuk-body">If the group entered silently they can catch 2 cultist guards in room 2. Otherwise 4 guards are ready for them and 
      will have advantage.</p> 

    <h3 class="govuk-heading-m" >Room 3 </h3>

    <div class="code-box">
      <p class="govuk-body govuk-!-font-weight-bold"><i>A large crack, a foot in width runs across the centre making the room at two different inclines. 
        A lot of rubble has fallen in from the ceiling but otherwise the room is empty save the increasing amount of insects, and larva crawling 
        across the floor. Also strange misshapen rats, flop around in the corners, struggling to walk. </i></p> 
    </div>

    <p class="govuk-body">Empty. Two exits</p> 

    <h3 class="govuk-heading-m" >Room 4 (trap + combat)</h3>

    <div class="code-box">
      <p class="govuk-body govuk-!-font-weight-bold"><i>As you enter this large chamber you immediately feel the air catch in your throat. 
        This might have been a dedication room at one point, digusting frescoes can just about be seen on the walls. However that time has 
        long past as its been completely overtaken by fungus and mould. Thick carpets of yellow slime coat large patches of the walls and 
        ceilings and mushrooms of all size and shapes are everywhere. Large yellow ball fungus are distrubuted around the floor, a slow mist of 
        spores eminating from them</i></p> 

        <p class="govuk-body govuk-!-font-weight-bold"><i>On the far side of the floor lies one of the Baal cultists, his body 
          burst apart with yellow sporing fungus.</i></p> 
    </div>

    <p class="govuk-body">Fungus has taken over. Step carefully to avoid spore bomb. Mushroom men. Dead cultist 4 mushroom men</p> 

    <p class="govuk-body">Dex check each round. FAiling hits ball fungus and spores explode. Everyone make luck (con) save lose 1 con per round. 
      Con lose is cumalative</p>  

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Mushroom men</caption>
      <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">AC</th>
          <td class="govuk-table__cell">10</td>
          </tr>
          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">HD</th>
          <td class="govuk-table__cell">2</td>
          </tr>
          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Attacks</th>
          <td class="govuk-table__cell">1d6 poisen</td>
          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">19</th>
          <td class="govuk-table__cell">Sticks to the target</td>
          </tr>
          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Stats</th>
          <td class="govuk-table__cell">

              <table class="govuk-table">
                  <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Str</th>
                      <td class="govuk-table__cell">10</td>
                      </tr>
                      <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Dex</th>
                      <td class="govuk-table__cell">5</td>
                      </tr>
                      <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Con</th>
                      <td class="govuk-table__cell">15</td>
                      <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Int</th>
                      <td class="govuk-table__cell">3</td>
                      </tr>
                      <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Per</th>
                      <td class="govuk-table__cell">3</td>
                      </tr>
                      <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Wis</th>
                      <td class="govuk-table__cell">3</td>
                      <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Chr</th>
                      <td class="govuk-table__cell">1</td>
                      </tr>
                  </tbody>
              </table>

          </td>
          </tr>
          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Move</th>
          <td class="govuk-table__cell">20 ft</td>
          </tr>
      </tbody>
  </table>



    <h3 class="govuk-heading-m" >Room 5 (treasure)</h3>

    <div class="code-box">
      <p class="govuk-body govuk-!-font-weight-bold"><i>This small room appears to be empty apart from a lot of rubble and dirt from the partly collapsed ceiling.</i></p> 
    </div>

    <p class="govuk-body">If alarm tripped then another 3 cultists are waiting in ambush here. Otherwise a perc check will notice a glinting within 
      the rubble. Searching will cause a dex check. Failing check cases a cave in. Dex to dodge. This triggers alarm.</p> 

      <p class="govuk-body">Solid gold water bowl for dedications. Worth 300gp</p> 

    <h3 class="govuk-heading-m" >Room 6 (trap)</h3>

    <div class="code-box">
      <p class="govuk-body govuk-!-font-weight-bold"><i>Opening the wooden door reveals a large chamber, very tall and wide.  Most of the floor is taken up with a 
         square pool. The pool looks undamaged and is filled with what might have been water at one point but is now a dark brown, 
        fetid sludge , slowly oozing and bubbling. 
         </i></p> 

         <p class="govuk-body govuk-!-font-weight-bold"><i>You assume this must have at one point been an annointing chamber to purify the priests 
          before going deeper into the temple but how the worshippers of Baal purified themslefves is something you do no want to think about.</i></p> 

        <p class="govuk-body govuk-!-font-weight-bold"><i>Larvae and maggots are crawing out of the pool all around the edge. The room exit is on 
          the other side of this nightmare and it looks like the only way out is through...</i></p> 
    </div>

    <p class="govuk-body">plague worms in pool. Adventurers have to find a way across. Wooden doors or rope or trees outside. falling 
      in water gives worm fungus</p> 

      <img src='/public/images/plague-worm.png'  class="govuk-!-margin-bottom-5" width="300">

    <h3 class="govuk-heading-m" >Room 7 (combat)</h3>

    <div class="code-box">
      <p class="govuk-body govuk-!-font-weight-bold"><i>This large chamber is the main hall of the temple. It is huge, 
        100 foot across. At the far end is a huge recongnisable statue of Baal. It mimics the one from the mine but twice as large. Below it the area is 
         lit from a glowing orb at the end of a high priets staff. He seems to be preciding over a ritual of some kind. Wong is on a 
         raised plinth infront of the priest, being held down by two cultists. His mouth has been filled with mud and the priest has a blade held high.</i></p> 

        <p class="govuk-body govuk-!-font-weight-bold"><i>The hall looks very unstable as cracks run up and down the walls and across the ceiling.</i></p> 
    </div>

    <p class="govuk-body">High priest. If alarm hasn't been set the players have the element of surprise. 7 cultists in total. 
      so whats happened indictaes how many left in room.</p> 

      <p class="govuk-body">Loot</p> 

      <ul class="govuk-list govuk-list--bullet">
        <li>A silver ring with an ivy motif (150
          gp).</li>
        <li>amethyst gemstone
          worth 600 gp</li>
        <li>An ivory signal horn with intricate
          bronze capping, encrusted with
          amber gemstones (680 gp).</li>
      </ul>

      <p class="govuk-body">curios</p> 

      <ul class="govuk-list govuk-list--bullet">
        <li>A seven inch, primitive cutting blade
          made of basalt stone. Wide groves are
          carved into the blade and handle to
          channel blood down to the pommel.
          The pommel has been crudely
          worked to resemble a human heart.</li>
        <li>a pendent (from a previous victim). Has a 
          picture of a man and women. Address on the back is in Port Brax</li>
        <li>A bag containing fine leather gloves, a seeing glass and in a cracked, old map case, is a
          nautical map with co-ordinates to a
          mysterious isle recorded as Varn
          Karagoss (translation Place of Ending).
          The island is many leagues to the north. wonderous treasure is mentioned.</li>
      </ul>

      <p class="govuk-body">Magic item. Emerald.      Disintegration: Once per week, the
        user may touch the item to another
        object, instantly turning the target
        object to dust. The target object must
        fit within a 10 ft cube. If the target
        object is possessed by another
        creature, a Luck save resists. </p> 

    <img src='/public/images/human-sorcerer.png'  class="govuk-!-margin-bottom-5" width="300">

    <img src='/public/images/spells.png'  class="govuk-!-margin-bottom-5" width="700">




   
  </div>
</div>

{% endblock %}